
@{
    ViewBag.Title = "VendorHome";
    dynamic kvs = new LunchOrderingSystem.Models.KeyValueStore();
}

<h2>VendorHome</h2>

<div class="form-horizontal">
    <h4>Vendorのホーム画面</h4>
    <p>本日の注文数は @ViewBag.TodayOrders 個です</p>
    @if (ViewBag.CloseUserName == null)
    {
        using (@Html.BeginForm("Close", "Order"))
        {
            <input type="hidden" name="orderCalendar" value="@ViewBag.TodayCalendarId" />
            <input type="submit" value="本日の注文を締め切る" /><br />
        }
    }
    else
    {
        using (@Html.BeginForm("Open", "Order"))
        {
            <p>@ViewBag.CloseUserName が @ViewBag.ClosedAt に注文を締め切りました</p>
            <input type="hidden" name="orderCalendar" value="@ViewBag.TodayCalendarId" />
            <input type="submit" value="もう一度受け付ける" /><br />
        }
    }


    <div>
        <h4><a href="/Setting/OpenCalendarSetting">営業日の登録</a></h4>
    </div>
</div>
