@model LunchOrderingSystem.Models.m_user

@{
    ViewBag.Title = "ユーザ管理画面";
}

<h2>ユーザ管理画面</h2>

<div>
    <h4>@Html.DisplayFor(model => model.login_id) を削除します</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_id)
        </dd>

        <dt>
            パスワード
        </dt>

        <dd>
            *セキュリティの為表示されません*
        </dd>

        <dt>
            権限
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            名前
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
