@model IEnumerable<LunchOrderingSystem.Models.m_user>

@{
    ViewBag.Title = "ユーザ管理画面";
}

<h2>ユーザ管理画面</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            権限
        </th>
        <th>
            名前
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.login_id)
        </td>
        <td>
            @{
                string dispRole = "";
                foreach (var role in item.m_user_role.OrderBy(o => o.role))
                {
                    dispRole += role.role + ", ";
                }
                if (dispRole.Count() > 0)
                {
                    dispRole = dispRole.Substring(0, dispRole.Count() - 2);
                }
            }
            @Html.DisplayFor(modelItem => dispRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
